<div class="product-item-v3">

<div class="product mb-30 engoj_grid_parent relative">
  <div class="img-product relative">
     <a href="#" >
      <img style="width: 100%" src="//placehold.it/960x997" class="img-responsive" alt="product">

    </a>

    
    

    <ul class="product-icon-action list-unstyled mb-0 text-center">     
      
      <li class="add-to-cart mr-0">

        <a href="#" class="inline-block icon-addcart  box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_sold_name}}">
          <i class="{{settings.pia_sold}}"></i>
        </a>

      </li>
      
      <li class="quick-view mr-0">
        <a href="javascript:void(0)" class="engoj_btn_quickview icon-quickview inline-block box-shadow" data-id="{{ product.handle }}" data-toggle="tooltip" data-placement="top" data-original-title="{{settings.pia_quickview_name}}">
          <i class="{{settings.pia_quickview}}"></i>

        </a>
      </li>
      <li class="add-wishlist mr-0">
        {% include 'add-wishlist' %} 
      </li>

    </ul>
<!--     END ICON -->
    
    


    
  </div>
  
    <h4 class="des-font capital title-product mb-0">
      <a href="#">Example title product</a>        
    </h4>

    <p class="price-product mb-0">
      <s class="price-old">$80.00</s>
      <span class="price">$40.00</span>
    </p>



    

  
</div>
  
</div>  