<footer class="footer_v5">
  <div class="top-footer">
    <div class="container container-casa">    
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv5_1}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv5_1].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="info_footer">
            <div class="title_footer">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv5_2}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv5_2].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="info_footer info_contact">
            <div class="title_footer ">          
              <h4 class="mb-0 title_border">{{settings.titlecolum_fv5_3}}</h4>         
            </div>
            <ul class="list-unstyled mb-0">
              {% for link in linklists[settings.menu_fv5_3].links %}
              <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
              {% endfor %}
            </ul>        
          </div>
        </div>
        <div class="col-lg-3 col-md-12">
          <div class="info_footer end">
            <div class="title_footer">          
              <h4 class="mb-0">{{settings.titlecolum_fv5_4}}</h4>         
            </div>
            {% if settings.content_colum_fv5_4 != blank  %}
            	<p class="mb-0 content_footer">{{settings.content_colum_fv5_4}}</p>
            {% endif %}

              {% if settings.newsletter_form_action != blank %}
              {% assign form_action = settings.newsletter_form_action %}
              {% else %}
              {% assign form_action = '#' %}
              {% endif %}          
            <form class="newsletter-form-wrap" action="{{form_action}}" method="post">                           
              <input type="email" name="EMAIL" class="form-control" placeholder="{{ 'general.newsletter_form.newsletter_footerh5' | t }}" required>                 
              <button class="btn submit-newsletter" type="submit"><i class="{{settings.icon_mail_fv5}}"></i></button>
            </form>                        
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if settings.enable_fv5_bottom %}
  <div class="copyright">
    <div class="container container-casa">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 text-lg-left text-md-left">
          {% if settings.fv5_bottom_copyright != blank %}
          <p class="text-copyright mb-0">{{settings.fv5_bottom_copyright}}</p>
          {% else %}
          <p class="text-copyright mb-0">©2019<a href="#"> ShopiLaunch. </a>All rights reserved</p>           
          {% endif %}
        </div>
        <div class="col-lg-6 col-md-6 text-lg-right text-md-right">
          {% if settings.fv5_bottom_payment_img != blank %}
          <img src="{{settings.fv5_bottom_payment_img | img_url:'master'}}"  alt="">
          {% else %}
          <img src="//placehold.it/247x23"  alt="">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</footer>
